html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.som-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.som-header {
  flex: 0 1 auto;
}

.som-footer {
  flex: 0 1 auto;
  padding: 0 1.5em;
}

.som-main {
  display: flex;
  flex-direction: column;
  flex: 2 0 auto;
  padding: 0 1.5em;
}
